*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store
raw_data/
*.csv
**/__pycache__/
notebooks/christophelanson/saved_models/*
notebooks/RomainCharleux/saved_models/*
notebooks/christophelanson/image_logs/*
saved_models/
backup/*
